# Entornos virtuales
constru/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Streamlit (secrets)
.streamlit/secrets.toml

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Instaladores (binarios grandes)
*.exe
